<!--login.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}


<h3>please enter the correct details<h3>
<br>
<h1>Login</h1>



    <form class="form" action="/login-successful" method="POST">
      <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" Name="Name" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input type="Password" class="form-control" id="Password" Name="Password" placeholder="Password">
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>  


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}